name: Test

on:
  push:
    branches:
      - main
      - development
  pull_request:
    branches:
      - main
      - development

jobs:
  rubocop-rspec:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          bundler-cache: true

      - name: Set environment variables
        run: awk -F ' ' '{if( $0 ~ "BUNDLER_VERSION" ) print $2}' .envrc >> $GITHUB_ENV

      - name: Gem install
        env:
          LANG: ja_JP.UTF-8
        run: |
          gem update --system && gem install --no-document bundler:${{ env.BUNDLER_VERSION }}
          bundle config set path 'vendor/bundle'
          bundle install --jobs 4 --retry 3

      - name: Run rubocop
        run: bundle exec rubocop

      - name: Run rspec
        run: bundle exec rspec
